.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 80px;
  background: transparent;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}